# --- Seguridad ---
.env

# --- Python ---
__pycache__/
*.pyc
venv/
.pytest_cache/

# --- Datos generados (Excel) ---
exports/*.xlsx

# --- Archivos de Sistema Operativo ---
.DS_Store
Thumbs.db

# --- IDEs ---
.vscode/